<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <div class="col-xs-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            Just Run
            <br />
            Yo Damn
            <br />
            Gym Brah
          </div>
        <% end %>
      </div>
      <div class="col-xs-4 slogan">
        Splurting out unsolicited advice about running gyms since 1956
      </div>
      <div class="col-xs-5 links text-right">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', about_path %>
      </div>
    </div>
  </header>
  <hr />
  <br class="clear" />

  <div class="container">
    <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div><br class="clear" />
    <% end %>
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="col-xs-6 text-white">
        <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
      </div>
      <div class="col-xs-6 text-white text-right footer-blurb">
        Proudly hacked in Alexandria, VA by Matt Verlaque<br />
      </div>
    </div>
  </footer>

</body>
</html>
